*.vcxproj
*.user
*.filters
*.qtvscr
*.obj
/Source/GUI/build
/build
GraphicsCortex/Dependencies/assimp/lib/assimp-vc143-mt.lib
GraphicsCortex/Dependencies/assimp/lib_debug/assimp-vc143-mtd.lib
*.db
/BoltzmannFluids_UI/Source/GLSL/.vs
/BoltzmannFluids/Source/GLSL/.vs
