*.vcxproj
*.user
*.filters
*.qtvscr
*.obj
/Source/GUI/build
/build
GraphicsCortex/Dependencies/assimp/lib/assimp-vc143-mt.lib
GraphicsCortex/Dependencies/assimp/lib_debug/assimp-vc143-mtd.lib
*.db
/BoltzmannFluids_UI/Source/GLSL/.vs
/BoltzmannFluids/Source/GLSL/.vs
.qt/
.vs/
.qt/
/BoltzmannFluids.dir
/CMakeFiles
/x64
zlib1.dll
tiff.dll
PhysXGpu_64.dll
PhysXFoundation_64.dll
PhysXDevice64.dll
PhysXCooking_64.dll
PhysXCommon_64.dll
PhysX_64.dll
liblzma.dll
jpeg62.dll
glut32.dll
/Release
GraphicsCortex/
GraphicsCortex.dir/
BoltzmannFluids.dir/
BoltzmannFluids_UI.dir/
BoltzmannFluids_UI_autogen/
cmake_install.cmake
CMakeCache.txt
CMakePresets.json
CMakeUserPresets.json
out/
BoltzmannFluids/Source/GLSL/Renderer3D/.vs/slnx.sqlite
BoltzmannFluids/Source/GLSL/Renderer3D/.vs/ProjectSettings.json


*.sln
/RelWithDebInfo
